.apartment {
    display: grid;
    height: 350px;
    width: 500px;
    background-color: #add8e6;
    grid-template-rows: 70px 70px 70px 70px 70px;
    grid-template-columns: 100px 100px 100px 100px 100px;
}

.apartment .room {
    border: 1px solid #000000;
    text-align: center;
    font-size: 16px;
}

.apartment .room#living-room {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: #74b9ff;
}

.apartment .room#washroom {
    grid-row-start: 3;
    background-color: #81ecec;
}

.apartment .room#kitchen {
    grid-column-start: 1;
    grid-row-start: 4;
    grid-row-end: 6;
    background-color: #ff7675;
}

.apartment .room#bedroom {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 6;
    background-color: #ffeaa7;
}

.apartment .room#master {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 6;
    background-color: #ffeaa7;
}